<div class="form-container">
  <form [formGroup]="signUpForm" (ngSubmit)="submitForm()" class="form">
    <h1>Hello, {{ (fullName$ | async) ?? '_' }}!</h1>

    <div class="form-input-group">
      <label for="first-name">First name</label>
      <input type="text" id="first-name" [formControl]="firstName" />

      <div
        *ngIf="firstName?.invalid && firstName?.touched"
        class="form-input-error">
        <div *ngIf="firstName?.errors?.['required']">
          First name is required.
        </div>
      </div>
    </div>

    <div class="form-input-group">
      <label for="last-name">Last name</label>
      <input type="text" id="last-name" [formControl]="lastName" />

      <div
        *ngIf="lastName?.invalid && lastName?.touched"
        class="form-input-error">
        <div *ngIf="lastName?.errors?.['required']">Last name is required.</div>
      </div>
    </div>

    <div class="form-input-group">
      <label for="email">Email</label>
      <input type="email" id="email" [formControl]="email" />

      <div *ngIf="email?.invalid && email?.touched" class="form-input-error">
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Email is invalid.</div>
      </div>
    </div>

    <div class="form-input-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        [formControl]="password"
        [class.invalid]="signUpForm.errors?.['password']" />

      <div
        *ngIf="(password?.invalid || signUpForm.invalid) && password?.touched"
        class="form-input-error">
        <div *ngIf="password?.errors?.['required']">Password is required.</div>
        <div *ngIf="password?.errors?.['minlength']">
          Password should be a minimum of eight characters.
        </div>
        <div *ngIf="password?.errors?.['pattern']">
          Password should contain lower and uppercase letters.
        </div>
        <div *ngIf="signUpForm.errors?.['password']">
          Password should not contain the first name or the last name.
        </div>
      </div>
    </div>

    <button class="button" type="submit">Sign Up</button>
  </form>
</div>
